{% extends 'projekt/base.html' %}

{% block title %}
	Pridanie koncertu
{% endblock %}

{% block content %}
	<h2>Editovanie koncertu</h2>
	{% if user.is_staff %}
		{% load widget_tweaks %}
		<form class="form-horizontal" role="form" method="post">
			{% csrf_token %}
			{%for field in form %}
				{% if field.errors %}
					<div class="form-group has-error">
						<div class="col-sm-12">
							<p>Zle vyplnené pole</p>
						</div>
					</div>
				{% else %}
					<div class="form-group">
						<label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
						<div class="col-sm-10">
							{{ field|attr:"class:form-control" }}
							{% if field.help_text %}
								<p class="help-block"><small>{{ field.help_text }}</small></p>
							{% endif %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				<input type="submit" class="btn btn-primary" value="Editovať koncert" />
				</div>
			</div>
		</form>
	{% else %}
		Na túto akciu nemáte oprávnenie!
	{% endif %}
{% endblock %}