{% extends 'projekt/base.html' %}

{% block title %}
	Zmena hesla
{% endblock %}

{% block content %}
	{% if validlink %}
		<h2>Zabudol som heslo</h2>

		{% load widget_tweaks %}
		<form class="form-horizontal" role="form" method="post">
			{% csrf_token %}
			{%for field in form %}
				{% if field.errors %}
					<div class="form-group has-error">
						<p>Zle vyplnené pole</p>
					</div>
				{% else %}
					<div class="form-group">
						<label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
						<div class="col-sm-10">
							{{ field|attr:"class:form-control" }}
						</div>
					</div>
				{% endif %}
			{% endfor %}
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				<input type="submit" class="btn btn-primary" value="Resetovať heslo" />
				</div>
			</div>
			
		</form>
	{% else %}
		<p>
			Odkaz na zmenu hesla je neplatný.
		</p>
	{% endif %}
{% endblock %}